<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Value:</b>
  <%= @user.value %>
</p>

<p>
  <b>Affinity:</b>
  <%= @user.affinity %>
</p>

<p>
  <b>Category:</b>
  <%= @user.category.name %>
</p>

<p>
  <b>Release date:</b>
  <%= @user.release_date %>
</p>

<%= @users.to_json %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
